.project-container
  width: 100%
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.project-info-container
  height: 35rem
  width: 100%
  background: #272727
  display: flex
  justify-content: center
  align-items: center
  h1
    font-family: Rowdies
    text-align: center
    font-size: 10rem
    margin-bottom: 1rem
  p
    margin: .5rem

// .project-text-container

.main-image-container
  display: grid
  justify-self: center
  align-self: center
  grid-template-columns: 1fr 1fr
  height: 100%
  width: 100%
  padding-left: 40rem
  padding-right: 50rem

.pairing-image-container
  position: relative
  display: flex
  justify-content: center

.d-image-container
  align-self: center
  justify-self: center
  height: 25rem
  width: 30rem
  display: flex
  justify-content: center
  position: relative
.d-bg-img, .d-device-img
  position: absolute
.d-bg-img
  top: 11.5px
  height: 63%
  width: 92.5%
.d-device-img
  height: 100%
  width: 100%

.m-image-container
  top: 8rem
  z-index: 1
  right: -8rem
  height: 25rem
  width: 10rem
  display: flex
  justify-content: center
  align-items: center
  position: relative
.m-bg-img, .m-device-img
  position: absolute
.m-device-img
  height: 100%
  object-fit: contain
  width: 100%
  z-index: 1
.m-bg-img
  top: 3rem
  height: 77.5%
  border-radius: 10px
  width: 97%

.d-device-img, .m-device-img, .d-bg-img, .m-bg-img
  cursor: pointer

@keyframes shake
  0%
    transform: translate(1px, 1px) rotate(0deg)
  10%
    transform: translate(-1px, -2px) rotate(-1deg)
  20%
    transform: translate(-3px, 0px) rotate(1deg)
  30%
    transform: translate(3px, 2px) rotate(0deg)
  40%
    transform: translate(1px, -1px) rotate(1deg)
  50%
    transform: translate(-1px, 2px) rotate(-1deg)
  60%
    transform: translate(-3px, 1px) rotate(0deg)
  70%
    transform: translate(3px, 1px) rotate(-1deg)
  80%
    transform: translate(-1px, -1px) rotate(1deg)
  90%
    transform: translate(1px, 2px) rotate(0deg)
  100%
    transform: translate(1px, -2px) rotate(-1deg)
