@import "../../node_modules/bulma/bulma.sass"
@font-face
  font-family: 'Barlow-Bold'
  src: url('../assets/fonts/Barlow-Bold.ttf')
@font-face
  font-family: 'Barlow-MediumI'
  src: url('../assets/fonts/Barlow-MediumItalic.ttf')
@font-face
  font-family: 'Barlow-Medium'
  src: url('../assets/fonts/Barlow-Medium.ttf')
@font-face
  font-family: 'Rowdies'
  src: url('../assets/fonts/Rowdies-Bold.ttf')
@font-face
  font-family: 'Nunito-Regular'
  src: url('../assets/fonts/Nunito-Regular.ttf')

body
  font-family: Nunito-Regular
  letter-spacing: 1px
  overflow: hidden
  font-size: 1.8rem

button
  border: none

html
  scroll-behavior: smooth
  font-size: 62.5%
  display: inline-block
  overflow: unset
  background: #414141

hr
  border: 1px solid #333333
  border-style: none
  width: 100%
  background-color: rgb(60, 60, 60)

h1
  color: #e6e5e5
  font-family: Rowdies
  font-size: 10rem
p
  color: #c2c2c2

@keyframes pulse-me
  0%
    transform: scale(1)
  50%
    transform: scale(1.02)
  100%
    transform: scale(1)

@keyframes slide-right
  0%
    transform: translateX(-300rem) skew(60deg)
    opacity: 0
  95%
    transform: translateX(.5rem)
  100%
    transform: translateX(0rem) skew(0deg)
    opacity: 1

@keyframes slide-left
  0%
    transform: translateX(300rem) skew(-60deg)
    opacity: 0
  95%
    transform: translateX(-.5rem)
  100%
    transform: translateX(0rem) skew(0deg)
    opacity: 1

@keyframes slide-down
  0%
    transform: translateY(-200rem)
    opacity: 0
  95%
    transform: translateY(1rem)
  100%
    transform: translateY(0rem)
    opacity: 1
    